.App {
  /* width: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
/* .Aligner-item {
  max-width: 50%;
} */
.container {
  display: flex;
  flex-direction: row;
  width: 500px;
}
/* avatar styles */
.avatar {
  width: 65px;
  padding: 2px 10px;
}
/* top info styles */
.top-info-name {
  font-weight: bold;
  padding: 4px 5px 0 0;
}
.top-info-handle,
.top-info-date {
  color: grey;
  padding: 4px 5px 0 0;
}
.top-info-title {
  padding: 5px 0 3px;
}
.top-info-author {
  padding: 0 0 10px 0;
}
.top-info-author-link a:link,
.top-info-author-link a:visited {
  text-decoration: none;
  color: #65b3e8;
}

/* card styles */
.card {
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}
.card-image {
  border-radius: 5px 5px 0 0;
}

.info {
  padding: 5px 0 10px;
}
.card-title {
  font-weight: bold;
  padding: 4px 14px;
}
.card-description {
  padding: 4px 4px 4px 14px;
  line-height: 1.4;
}
.card-link a:link,
.card-link a:visited {
  color: grey;
  padding: 4px 14px 2px;
  text-decoration: none;
}

/* social bar styles */

.social-image {
  width: 25px;
  padding: 0 10px 0 0;
}
.social-bar-comments {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.social-bar-retweet {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: mediumaquamarine;
}
.social-bar-favorite {
  display: flex;
  color: crimson;
}
.social-bar-dm {
  /* display: flex; */
}
.social-bar {
  font-size: 14px;
  font-weight: 600;
  padding: 20px 30px 20px 0;
  align-items: center;
}
